.hero-container {
  margin-top: 100px;
  padding: 10px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  margin-top: 0px;
}

.update-pill {
  width: max-content;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 30px rgba(31, 38, 135, 0.77);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.815);
}

.update-pill p {
  font-family: "Poppins", sans-serif;
}

.text-container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin: 0;
  background: linear-gradient(360deg, #9128bd, #a2b1be);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: scale 0.2s ease-in-out;
}

.text-container h1:hover {
  scale: 1.4;
  cursor: pointer;
}

.text-container h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
}

.text-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-start button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn-start button:hover {
  transform: translateY(-2px);
}
